article img {
    width: 100%;
}

#intro .logo:before{
    background-image: none!important;
}

aside.ScrollUpButton__Container.ScrollUpButton__Toggled {
    border-color:#818080 !important;
}

path{
    fill: #818080!important;
}

.cover{
    max-height:280px;
    object-fit: cover;
}