article img {
    width: 85%;
    display: block;
    margin: auto;
}

#intro .logo:before{
    background-image: none!important;
}

aside.ScrollUpButton__Container.ScrollUpButton__Toggled {
    border-color:#818080 !important;
}

path{
    fill: #818080!important;
}

.cover{
    max-height:280px;
    object-fit: cover;
}

article p {
    overflow: hidden!important;
}


.description {
    margin-top: 1em!important;
}

aside.ScrollUpButton__Container.ScrollUpButton__Toggled{
    z-index: 9999999;
}
