h1{
    text-transform: capitalize;
}

.pwa-logo{
    width: 8em;
}

.notfound{
    text-align: center;
    margin-top: 10em;
}

.auto-overflow{
    overflow:auto;
}


@media (min-width: 992px) and (max-width: 1199px) {
    p.home-post-list {
        font-size: 1.3rem!important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    p.home-post-list {
        padding: 0px!important;
    }
}